{% extends '../template/template.twig' %}
{% block content %}

    {% if alert %}
        <div class="alert alert-{{alert.status}}" role="alert">
            {{alert.message}}
        </div>
    {% endif %}

    <div class="col-md-12 align-items-center p-3 my-3 bg-primary text-white rounded box-shadow">
        <h6 class="m-0 text-center">All todos</h6>
    </div>
<table class="table">
    <thead class="thead-light">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Message</th>
            <th scope="col">Completion</th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col">
                <a href="/todos/add">
                    <i class="material-icons">add_circle</i>
                </a>
            </th>
        </tr>
    </thead>
    <tbody>
        {% for todo in todos %}
        <tr>
            <th scope="row">{{todo.id}}</th>
            <td>{{todo.message}}</td>
            <td>{{todo.completion}}</td>
            <td>
            <a href="{{ "/todos/delete/" ~ todo.id }}">
                <i class="material-icons">delete</i>
            </a>
            </td>
            <td>
            <a href="{{ "/todos/" ~ todo.id }}">
                <i class="material-icons">visibility</i>
            </a>
            </td>
            <td></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}